html, body {
  width: 100%;
  height: 100%;
}
html {
  display: table;
}
body {
  font: 18px/2 "Roboto", sans-serif;
  color: #333;
  display: table-cell;
  vertical-align: middle;
}
header {
  padding-bottom: 60px;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
i {
  font-style: italic;
}
footer {
  font-size: .8rem;
  padding-top: 60px;
}
a {
  padding: 2px;
}
a:link, a:visited, a:active {
  text-decoration: none;
  color: #333;
}
a:hover {
  background-image: -moz-linear-gradient( left top, right bottom ,
      from(red),
        color-stop(16%, orange),
        color-stop(32%, yellow),
        color-stop(48%, green),
        color-stop(60%, blue),
    color-stop(76%, indigo),
    to(violet));
  background-image: -webkit-gradient(linear,  left top,  right bottom, 
      color-stop(0.00, red), 
      color-stop(16%, orange),
      color-stop(32%, yellow),
      color-stop(48%, green),
      color-stop(60%, blue),
      color-stop(76%, indigo),
      color-stop(1.00, violet));
  color: white;
}
section {
  text-align: center;
}
li {
  list-style: none;
}